<div class="row">
  <div class="large-3 columns">
    <h1><img src="http://lorempixel.com/400/100/abstract/1"></h1>
  </div>

  <div class="large-9 columns right">
    <form>
      <div class="row collapse">
        <div class="large-10 small-8 columns">
          <input type="text"/>
        </div>

        <div class="large-2 small-4 columns">
          <a href="#" class="postfix button expand">Search</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <hr>
  <div class="large-2 columns">
    <img src="http://lorempixel.com/400/300/technics/1">
    <br>
    <img src="http://lorempixel.com/400/300/technics/2">
    <br>
    <img src="http://lorempixel.com/400/300/technics/3">
    <br>
    <img src="http://lorempixel.com/400/300/technics/4">
  </div>
  <div class="large-5 columns">
    <%= image_tag @widget.image %>
    <img src="">
  </div>
  <div class="large-5 columns">
    <h4><%= @widget.name %></h4>
    <p><%= @widget.description%></p>

    <div class="panel">
      <h5>Take some Action</h5>
      <h6 class="subheader">You know you want these, make it happen!</h6>
      <a href="#" class="small button">Add to Cart</a>
    </div>

  </div>
</div>

<div class="row">
  <hr/>
  <div class="large-6 columns">
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
  <div class="large-6 columns">
    <h4>This is a content section.</h4>
    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
  </div>
</div>

<div class="row">
  <hr>
  <div class="large-12 columns">
    <h4>You might also like:</h4>
    <img src="http://lorempixel.com/200/150/technics/7">
    <img src="http://lorempixel.com/200/150/technics/8">
    <img src="http://lorempixel.com/200/150/technics/9">
    <img src="http://lorempixel.com/200/150/technics/10">
  </div>
</div>
