// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top20 {
  margin-top: 20px;
}

.widget-price {
  display: inline;
  padding-top: 4px;
}

.panel h4.sale-price {
  color: #3a945b;
}

.panel h4.full-price {
  text-decoration: line-through;
}
